body {
	font-family: Arial, sans-serif;
	background-color: #e9e3c9;
	color: #0f8a5f;
	line-height: 1.8;
	margin: 0 auto;
}

form {
	font-size: 15px;
	background-color: white;
	width: 300px;
	padding: 20px;
	margin: 0 auto;
	text-align: left;
}

#center {
	text-align: center;
}
label {
}

/* input[tpye="text"], */
input[name="name"] {
	color: #0f8a5f;
}
select {
	font-size: 15px;
	color: #0f8a5f;
}

/* input[tpye="radio"],
input[tpye="checkbox"] {
} */
/* 
input[tpye="submit"] {
	width: 100px;
} */

#submit {
	width: 100px;
	height: 30px;
	border: none;
	outline: none;
	background: #cc231e;
	color: white;
	font-size: 15px;
	border-radius: 40px;
	text-align: center;
	box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

input[name="interests"],
input[name="gender"] {
	accent-color: red;
}

#sumbit-wrapper {
	text-align: center;
}

#result {
	line-height: 0.8;
}
