@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&display=swap");

body {
	font-family: "Kanit", sans-serif;
	background-color: lightgray;
}
.left {
	display: flex;
}
.container {
	width: 500px;
	margin: auto;
	align-items: center;
}

header {
	background-color: blue;
	color: white;
	padding: 10px;
	margin: 10px;
	margin-bottom: 15px;
}
.game {
	background-color: white;
	padding: 10px;
	margin: 10px;
}

.btn,
.restratBtn {
	color: white;
	background-color: cornflowerblue;
	border: 0px;
	border-radius: 6px;
	border-width: 0;
	height: 30px;
	font-size: 18px;
	margin-left: 20px;
	cursor: pointer;
}
.guess {
	outline: none;
	height: 25px;
}
.secret {
	background-color: gray;
	color: white;
	margin: auto;
	align-items: center;
	text-align: center;
	font-size: 50px;
	font-weight: 900;
	width: 80px;
	padding: 0px;
	border-radius: 50%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.guess {
	text-align: center;
	width: 100px;
}
