* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	font-size: 65%;
	box-sizing: border-box;
}
body {
	font-family: system-ui;
	color: #555;
	background-color: #f7f7f7;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container {
	display: flex;
	flex-flow: column;
	align-items: center;
}
.countries {
	display: flex;
	font-size: 2rem;
	opacity: 0;
	transition: opacity 1s;
}
.country {
	background-color: #fff;
	box-shadow: 0 2rem 5rem 1rem rgb(0, 0, 0, 0.1);
	font-size: 1.8rem;
	border-radius: 0.7rem;
	margin: 0 3rem;
}
.country_img {
	width: 30rem;
	height: 17rem;
	object-fit: cover;
	background-color: #eee;
	border-top-left-radius: 0.7rem;
	border-bottom-right-radius: 0.7rem;
}
.country_data {
	padding: 2.5rem 3.75rem 3rem 3.75rem;
}
.country_name {
	font-size: 2.7rem;
	margin-bottom: 0.7rem;
}
.country_region {
	font-size: 1.4rem;
	margin-bottom: 2.5rem;
	text-transform: uppercase;
	color: #888;
}
.country_row:not(:last-child) {
	margin-bottom: 1rem;
}
.country_row span {
	display: inline-block;
	margin-right: 2rem;
	font-size: 2.4rem;
}
